* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;

  font-weight: bold;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.title {
  font-family: cursive;
}

p {
  text-align: center;
}

.userInputFields {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
input,
label {
  background-color: white;
}

input {
  padding-left: 5px;
}

.loginBox {
  height: 500px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.recipePage {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e5dfe8;
}

button {
  width: 100px;
  height: 40px;
  background-color: blue;
  border-radius: 20px;
  box-shadow: 1px -1px 0px -1px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 1px -1px 0px -1px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 1px -1px 0px -1px rgba(0, 0, 0, 0.61);
  color: white;
}

button:hover {
  box-shadow: 1px -1px 12px -1px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 1px -1px 12px -1px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 1px -1px 12px -1px rgba(0, 0, 0, 0.4) inset;
}
